# Environment variables
.env

# Virtual Environment
.venv/
virtual/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
